li.nav-item>a{
    color:white;
    font-size: 12px;
}

.cart-container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  
}

.navbar-dark{
    background:#1d4584;
    padding-left: 5%;

}

.link:hover { color: #86fcff; }