
<nav class="navbar navbar-expand-md  navbar-dark" style="background:#1d4584" *ngIf="nav.visible">
  
    <a class="navbar-brand link" style="text-decoration: none;"  routerLink="../home" >ADM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link"   routerLink="./papier"  ><i class="fa fa-paste" style="padding-right:5px"></i>Papier</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link " routerLink="./conge"><i class="fa fa-clock-o" style="padding-right:5px"></i>Conge</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link " routerLink="./avance"><i class="fa fa-money" style="padding-right:5px"></i>Avance</a>
        </li>   
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link " routerLink="./autorisation"><i class="fa fa-check" style="padding-right:5px"></i>Autorisation</a>
        </li>  
      </ul>
      <ul class="navbar-nav ml-auto">
      
          <li class="nav-item">
            <a class="nav-link " routerLink="" (click)="logout"><i class="fa fa-sign-out" style="padding-right:10xpx"></i>Se deconnecter</a>
          </li>  
        </ul>
    </div> 
  
</nav>