<div class="global" >
    <div class="gap"></div>
    <div class="container">
    <ol  class="breadcrumb non-rtl-children" 
    style="background-color: inherit;padding: 0px;">
    <li  class="breadcrumb-item-shap">
        <a  class="text-dark" routerLink="../../home">Accueil</a>
    </li>
    <li  class="breadcrumb-item-shap">
        <a  class="text-dark" routerLink="../../papier">Papier</a>
    </li>
    <li class="breadcrumb-item active" style="color: #0090d9;">
        <strong >Attestation De Salaire</strong></li>
    </ol>
</div>
<app-identifiant></app-identifiant>
    <div class=" container block-body ">
    
        <div class="card " style="background-color: #fff;">
            <div *ngIf="success" class="alert alert-success" role="alert">
                Demande Attestation send avec success!
            </div>
            <div *ngIf="failed" class="alert alert-danger" role="alert">
                Demande Attestation failed!
            </div>
           <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="card-header" >
                    <h5>Edition des attestations </h5>
                    </div>
                    <div class="card-body text-center">
                    <h5 class="card-title">Attestation de salaire</h5>
                    <br>
                    <select
                    formControlName="select"
                    [ngClass]="{ 'is-invalid': submitted && f.select.errors }"   
                    class="form-control ng-pristine ng-valid ng-touched" 
                    [(ngModel)]="selectedOption" 
                    name="attestation-salaire" 
                    style="min-width: 200px;text-align-last:center;">
                    <option  value="">Type d'attestation</option>
                    <option  value="1" selected>Attestation de déclaration de salaire</option>
                    </select>
                    <div *ngIf="submitted && f.select.errors" class="invalid-feedback">
                    <div *ngIf="f.select.errors.required">Attestation de salaire  is required</div>
              
                    </div>
                    <br>
                    <div class="spinner-block">
                    <button class="btn btn-valider" [disabled]="disabled" >
                        <div class="spinner-grow text-info" role="status" style="margin-right: 10px;" *ngIf="disabled" >
                            <span class="sr-only">Loading...</span>
                        </div>
                        <b>Valider</b>
                    </button>
                    </div>


                    </div>
                    
                    <div class="card-footer text-muted">
                    </div>
            </form>
       </div>
    </div>
</div>