

<div class="globalcontainer">
      <div class="gap"></div>
      <div class="container">
            <ol  class="breadcrumb non-rtl-children" 
            style="background-color: inherit;padding: 0px;">
            <li class="breadcrumb-item active" style="color: #0090d9;">
                <strong >Accueil</strong></li>
            </ol>
          <div class="row">
              <div class="col-xs-12 col-sm-6  col-lg-3 globalbox "  >
                    <div class="boxheader" >
                      <span><a routerLink="../papier" ><i class="fa fa-paste icons-padding" ></i>Papier</a></span>
                      </div>
                      <div class="box divboxing"  routerLink="../papier" style="background-image:url(assets/images/papier-min.jpg);">
                    </div>
              </div>
              <div class="col-xs-12 col-sm-6  col-lg-3 globalbox">
                    <div class="boxheader">
                      <span><a routerLink="../conge" ><i class="fa fa-clock-o icons-padding" ></i>Conge</a></span>
                      </div>
                      <div class="box divboxing" routerLink="../conge" style="background-image:url(assets/images/conge-min.jpg);">
                    </div>
              </div>
              <div class="col-xs-12 col-sm-6  col-lg-3 globalbox">
                    <div class="boxheader">
                      <span><a routerLink="../avance"><i class="fa fa-money icons-padding" ></i>Avance</a></span>
                      </div>
                      <div class="box divboxing" routerLink="../avance" style="background-image:url(assets/images/avance-min.jpg);">
                    </div>
              </div>
              <div class="col-xs-12 col-sm-6  col-lg-3 globalbox">
                      <div class="boxheader">
                      <span><a routerLink="../autorisation"><i class="fa fa-check icons-padding" ></i>Autorisation</a></span>
                      </div>
                      <div class="box divboxing" routerLink="../autorisation" style="background-image:url(assets/images/autorisation-min.jpg);">
                     </div>
              </div>
          </div>

      </div>
</div>   