<section>
    <div class="container container-register">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-10 col-xl-8">
          <ol  class="breadcrumb non-rtl-children" 
          style="background-color: inherit;padding: 0px;">
          <li  class="breadcrumb-item-shap">
              <a  class="text-dark" routerLink="../home">Accueil</a>
          </li>
          <li class="breadcrumb-item active" style="color: #0090d9;">
              <strong >Utilisateur</strong>
          </li>
          </ol>
            <div *ngIf="success" class="alert alert-success" role="alert">
                Ajout Utilisateur send avec success!
            </div>
            <div *ngIf="failed" class="alert alert-danger" role="alert">
                Ajout Utilisateur failed!
            </div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

          <div class="row">
            <div class="col text-center">
                <label class="label-style" ><b>Inscription</b></label>
            </div>
          </div>
          <br>

            <div class="form-row">
              <div class="form-group col-6  col-md-6">
                <!-- <label for="inputNom">Nom</label> -->
                <input
                type="text"
                class="form-control"
                placeholder="Nom"
                [ngClass]="{ 'is-invalid': submitted && f.nom.errors }" 
                formControlName="nom" 
                [(ngModel)]="nom" 
                >
                <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
                  <div *ngIf="f.nom.errors.required">Nom  is required</div>
                </div>
              </div>
              <div class="form-group col-6 col-md-6">
                <!-- <label for="inputPrenom">Prenom</label> -->
                <input
                type="text"
                class="form-control"
                placeholder="Prenom"
                [ngClass]="{ 'is-invalid': submitted && f.prenom.errors }" 
                formControlName="prenom" 
                [(ngModel)]="prenom" 
                >
                <div *ngIf="submitted && f.prenom.errors" class="invalid-feedback">
                  <div *ngIf="f.prenom.errors.required">Prenom  is required</div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-6  col-md-6">
                <!-- <label for="inputUsername">Username</label> -->
                <input
                type="text"
                class="form-control"
                placeholder="Username"
                [ngClass]="{ 'is-invalid': submitted && f.username.errors }" 
                formControlName="username" 
                [(ngModel)]="username" 
                >
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                  <div *ngIf="f.username.errors.required">Username  is required</div>
                </div>
              </div>
              <div class="form-group col-6  col-md-6">
                <!-- <label for="inputPassword">Password</label> -->
                <input
                type="password"
                class="form-control"
                placeholder="Password"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" 
                formControlName="password" 
                [(ngModel)]="password" 
                >
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password  is required</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <!-- <label for="inputAddress">Email</label> -->
              <input
              type="text"
              class="form-control"
              placeholder="Email"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" 
              formControlName="email" 
              [(ngModel)]="email" 
              >
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email  is required</div>
              </div>
            </div>
         
            <div class="form-row">
              <div class="form-group  col-md-4">
                <!-- <label for="inputCity">Immatriculation</label> -->
                <input
                type="text"
                class="form-control"
                placeholder="Immatriculation"
                [ngClass]="{ 'is-invalid': submitted && f.immatriculation.errors }" 
                formControlName="immatriculation" 
                [(ngModel)]="immatriculation" 
                >
                <div *ngIf="submitted && f.immatriculation.errors" class="invalid-feedback">
                  <div *ngIf="f.immatriculation.errors.required">Immatriculation  is required</div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <!-- <label for="inputState">Naissance</label> -->
                <input
                type="text"
                class="form-control"
                placeholder="Naissance"
                [ngClass]="{ 'is-invalid': submitted && f.naissance.errors }" 
                formControlName="naissance" 
                [(ngModel)]="naissance" 
                bsDatepicker 
                >
                <div *ngIf="submitted && f.naissance.errors" class="invalid-feedback">
                  <div *ngIf="f.naissance.errors.required">Date de Naissance  is required</div>
                </div>
               
              </div>
              <div class="form-group col-md-4">
                    <!-- <label for="inputCin">Cin</label> -->
                    <input
                    type="text"
                    class="form-control"
                    placeholder="Cin"
                    [ngClass]="{ 'is-invalid': submitted && f.cin.errors }" 
                    formControlName="cin" 
                    [(ngModel)]="cin" 
                    >
                    <div *ngIf="submitted && f.cin.errors" class="invalid-feedback">
                      <div *ngIf="f.cin.errors.required">Cin  is required</div>
                    </div>
              </div>
            </div>

            <div class="form-group">
               <!-- <label for="inputDepartement">Departement</label> -->
                <select 
                [(ngModel)]="typeDepartement" 
                formControlName="departement" 
                [ngClass]="{ 'is-invalid': submitted && f.departement.errors }" 
                (ngModelChange)="updateSelectedValue($event)" 
                class="form-control ng-pristine ng-valid ng-touched" 
                style="min-width: 200px;" 
                name="attestation-salaire">
                  <option  value="">Selectionner une departement</option>
                  <option *ngFor="let departement of depts"style="text-align: center;"
                  [value]="departement.id">{{departement.departement_name}}
                  </option>
                </select>
                <div *ngIf="submitted && f.departement.errors" class="invalid-feedback">
                  <div *ngIf="f.departement.errors.required">Departement  is required</div>
                </div>
            </div>

            <div class="form-group">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" 
                  class="form-check-input" 
                  formControlName="isadmin" 
                   [(ngModel)]="isadmin" >
                   Is Admin
                </label>
              </div>
            </div>
            <div class="spinner-block">
              <button class="btn btn-valider" [disabled]="disabled" >
                  <div class="spinner-grow text-info" role="status" style="margin-right: 10px;" *ngIf="disabled" >
                      <span class="sr-only">Loading...</span>
                  </div>
                  <b>Valider</b>
              </button>
            </div>  
        </form>
        </div>
      </div>
    </div>
</section>